<p><%=  notice %></p>
<h1>Student Detail</h1>

<%= image_tag @student.photo if @student.photo.attached? %>
<p><strong><%= @student.first_name %></strong></p>
<p><strong><%= @student.last_name %></strong></p>
<p><strong><%= @student.email %></strong></p>
<p><strong><%= @student.date_of_birth %></strong></p>
<p><strong><%= @student.address %></strong></p>
<p><strong><%= @student.contact %></strong></p>

<%= link_to "Back", students_path %> |
<%= link_to "Edit", edit_student_path(@student) %>